/*
 * Styles for each new tweet
 */

 .container .new-tweet {
    background-color: #EEEEEE;
    border: 2px solid #00ff00;
    border-radius: 4px;
    padding: 2px;
    overflow: auto;
}

 .container .new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 0 0 10px;
}

 .container .new-tweet textarea {
  width: 100%;
}

.container .new-tweet input {
  float: left;

}

.counter {
     float: right;
     padding: 10px;
     font-style: italic;
     font-size: 2em;
     line-height: 24px;
     color: #0000ff;
}

.counter.over {
    color: red;
}

.tweet-append-error {
  padding: 0 7px;
  line-height: 24px;
  color: red;
}

.tweet {
   margin: 20px 0;
   border: 1px solid #d0d0d0;
   border-radius: 2px;
   overflow: auto;
   background: #fff;
   color: #194c57;
   opacity: 0.7;
   transition: ease all 0.3s;
 }

.tweet:hover {
  opacity: 1;
}
